@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;400;700&family=Spartan:wght@100;400&display=swap');
/*Defining some global styles */

*{
    margin: 0;
    padding: 0;
}

html, body{
    font-family: Montserrat, sans-serif;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    font-size: 1em;
    scroll-behavior: smooth;
    
}

/* ----------------------------------------------- */
/* Extras*/
/* ----------------------------------------------- */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #3c1642; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {

    background: #b2ff9e;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #086375; 
  }

/* ----------------------------------------------- */
  /*---------Navigation Styles------------*/
/* ----------------------------------------------- */

nav img{
    width: 110px;
    height: auto;
    margin-left: 0.5rem;
   z-index: 155; 

}

#navWrapper{
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    background-color: #000000;
   border: none;
    
    
}

.icon{
    font-size: 2rem;
    margin-right: 0.5rem;
    color: #ffffff;
    margin-top: 0.3rem;
}

.icon:hover{
    color: #086375;
    transition: 1ms;
}

/* ----------------------------------------------- */
  /*---------Video Styles------------*/
/* ----------------------------------------------- */

#myVideo {
  position: relative;

  min-width: 100%;
  min-height: 100%;
  opacity: 40%;
  width: 100%;
  height: auto;
  grid-area: 1 / 1 / 4 / 2;
  z-index: -1;
}

#videoWrapper{
  background-color: #000000;
  background-position: center;
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}


 header h1{
  z-index:1;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Antonio', sans-serif;
  letter-spacing: 0.2rem;
}

header p{
  z-index:1;
  color: #ffffff;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Monserrat', sans-serif;
  letter-spacing: 0.1rem;
  margin-top: 0.5rem;
}
header{
  grid-area: 2/ 1 / 2 / 3;
}

/* ----------------------------------------------- */
  /*---------Hamburger------------*/
/* ----------------------------------------------- */

.hamburger{
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.iconClose {
  display: none;
  font-size: 2rem;
  margin-right: 0.5rem;
  color: #000000;
  margin-top: 0.3rem;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #b2ff9e;
  color: white;
  padding-top: 4rem;
  text-align: center;
  
  
}

.showMenu{
  transform: translateY(0);
}
ul {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  flex-flow: column wrap;
}


/* ----------------------------------------------- */
  /*---------SideBar-----------*/
/* ----------------------------------------------- */

.menuItem{
  text-decoration: none;
  color: #000000;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Spartan" ;
  
}
.itemWrapper{
  margin: 0.7rem;
}

.menuItem:hover{
  color: #3c1642;
  text-decoration: underline;
  transition: 0.5s;
}
.modalLogoBlack{
  display: none;
}

/* ----------------------------------------------- */
  /*---------Main-----------*/
/* ----------------------------------------------- */

#homeMain{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.iconMain{
  font-size: 3rem;
  color: #086375;  
}

.mainInformationBox{
  padding: 1rem;
  text-align: center;
}

.mainInformationBox h2{
text-transform: uppercase;
color: #086375;  
margin-bottom: 1rem;
}

.mainInformationBox p{
  text-transform: capitalize;
  color: #3c1642;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1rem;
  }

  #homeMain button{
    font-family: "Spartan";
    color: #ffffff;
    background-color: #086375;
    border: none;
    padding: 0.6rem;
    border-radius: 0.6rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 1rem;

  }

  #homeMain button:hover{
    background-color:#3c1642 ;
    color: #ffffff;
    transition: 0.5s;
  }