@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;400;700&family=Spartan:wght@100;400&display=swap');
/*Defining some global styles */

*{
    margin: 0;
    padding: 0;
}

html, body{
    font-family: Montserrat, sans-serif;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    font-size: 1em;
    scroll-behavior: smooth;
    
}

a{
  text-decoration: none;
}

/* ----------------------------------------------- */
/* Extras*/
/* ----------------------------------------------- */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #3c1642; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {

    background: #b2ff9e;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #086375; 
  }

/* ----------------------------------------------- */
  /*---------Navigation Styles------------*/
/* ----------------------------------------------- */

nav img{
    width: 110px;
    margin-left: 0.5rem;
    z-index: 155; 
    height: 100%;

}

#navWrapper{
    box-sizing: border-box;
    padding: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    background-color: #3c1642;
    border: none;
    height: 4.3rem;
    box-shadow: 0 2px 2px #efefef;
   
  
}

.icon{
    font-size: 2rem;
    margin-right: 0.5rem;
    color: #ffffff;
    margin-top: 0.3rem;
}

.icon:hover{
    color: #b2ff9e;
    transition: 1ms;
}
.navBox{
  display: none;
}

/* ----------------------------------------------- */
  /*---------Video Styles------------*/
/* ----------------------------------------------- */

#myVideo {
  position: relative;

  min-width: 100%;
  min-height: 100%;
  opacity: 40%;
  width: 100%;
  height: auto;
  grid-area: 1 / 1 / 4 / 2;
  z-index: -1;
}

#videoWrapper{
  background-color: #000000;
  background-position: center;
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}


 header h1{
  z-index:1;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Antonio', sans-serif;
  letter-spacing: 0.2rem;
}

header p{
  z-index:1;
  color: #ffffff;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Monserrat', sans-serif;
  letter-spacing: 0.1rem;
  margin-top: 0.5rem;
}
header{
  grid-area: 2/ 1 / 2 / 3;
}

/* ----------------------------------------------- */
  /*---------Hamburger------------*/
/* ----------------------------------------------- */

.hamburger{
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.iconClose {
  display: none;
  font-size: 2rem;
  margin-right: 0.5rem;
  color: #000000;
  margin-top: 0.3rem;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.4s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #b2ff9e;
  color: white;
  padding-top: 4rem;
  text-align: center;
  
  
}

.showMenu{
  transform: translateY(0);
}
.menu ul {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  flex-flow: column wrap;
}


/* ----------------------------------------------- */
  /*---------SideBar-----------*/
/* ----------------------------------------------- */

.menuItem{
  text-decoration: none;
  color: #3c1642;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Spartan" ;
  
}
.itemWrapper{
  margin: 0.7rem;
}

.menuItem:hover{
  border-bottom: 2px solid #3c1642;
  transition: 0.6s;
}
.modalLogoBlack{
  display: none;
}

/* ----------------------------------------------- */
  /*---------Main-----------*/
/* ----------------------------------------------- */

#homeMain{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
}

.iconMain{
  font-size: 3rem;
  color: #3c1642;
}

.mainInformationBox{
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.mainInformationBox h2{
text-transform: uppercase;
color: #3c1642;  
margin-bottom: 1rem;
}

.mainInformationBox p{
  text-transform: capitalize;
  color: #3c1642;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1rem;
  }

  #homeMain button{
   
  background: #b2ff9e;
	color: #000000;
	border: 1px solid #3c1642;
	border-radius: 50px;
	padding: 0.6rem 1rem;
	font-size: 1rem;
	outline: none;
	cursor: pointer;
	position: relative;
	transition: 0.2s ease-in-out;
	letter-spacing: 2px;
  box-shadow: 1px 1px #000000;
 

  }

  #homeMain button:hover{
    background-color:#3c1642 ;
    color: #ffffff;
    transition: 0.1s;
  }

  /* ----------------------------------------------- */
  /*---------Section One------------*/
/* ----------------------------------------------- */

.sectionOne{
  margin: 2em 0;
 
}
.sectionOne h2, .sectionTwo h2{
  font-size: 1.1rem;
text-transform: uppercase;
color: #3c1642;  
font-family: "Spartan";
text-align: center;
margin-bottom: 0.5rem;
}

.sectionOne p{
  font-family: "Spartan";
  color: #3c1642;
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 0.5rem 1.5rem ;

}



  /* ----------------------------------------------- */
  /*---------Section Two------------*/
/* ----------------------------------------------- */

.sectionTwo h2:first-of-type{
margin-bottom: 1rem;
}

#date{
  text-align: center;
  font-size: 2rem;
  letter-spacing: 3px;
}

.sectionTwo{
  background-color: #b2ff9e;
  padding: 1rem;
}

.CountDownWrapper{
display: flex;
flex-flow: row wrap;
justify-content: center;

}

.CountDownBox{
  margin: 0.5rem;
}

.sectionTwo p {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7rem;
  text-align: center;
}


 /* ----------------------------------------------- */
  /*---------Footer------------*/
/* ----------------------------------------------- */


footer{
  background-color: #3c1642;
  color: #ffffff;
}

footer ul {
  padding-top: 1.3rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  margin-bottom: 1.5rem;
  font-size: 1rem;

}

footer li{
  padding: .4rem;
}

.menuItemFooter{
  
  text-decoration: none;
  color: #ffffff;
  font-family: "Spartan" ;
}
.menuItemFooter:hover, .menuItemNav:hover{
  border-bottom: 3px solid #b2ff9e;
  transition: 0.5s ;
  
}

.iconsWrapper{
  text-align: center;
  margin-bottom: 0.5rem;
}

.icons{
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

footer p {
  text-align: center;
  font-size: 1rem;
  font-family: "Spartan" ;
  padding: 1rem;
}
.mainLogo{
  width: 40%;
  height: auto;
}
.mainLogoWrapper{
  text-align: center;
  padding: .5rem;
}
 /* ----------------------------------------------- */
  /*---------Media Queries------------*/
/* ----------------------------------------------- */

@media only screen and (min-width: 700px)  {
/* ----------------------------------------------- */
  /*---------Header------------*/
/* ----------------------------------------------- */

  header h1{
    font-size: 3.5rem;
    letter-spacing: 0.2rem;
  }
  
  header p{
   
    font-size: 1.2rem;
    margin-top: 0.7rem;
  }

  .hamburger{
    display: none;
  }

  .navBox{
    display: block;
  }
  nav ul {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  }

  .navBox{
    height: 3.5rem;
  }

  .menuItemNav{
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    padding: .5rem;
    margin-right: 1rem;
    font-family: "Spartan";
    line-height: 3.5rem;
  }


  /* ----------------------------------------------- */
  /*---------Video Styles------------*/
/* ----------------------------------------------- */
#myVideo {
  min-width: 50%;
  min-height: 50%;
  width: 240px;
}

/* ----------------------------------------------- */
  /*---------Main-----------*/
/* ----------------------------------------------- */

#homeMain{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 1rem;
}

.iconMain{
  font-size: 4rem;
  color: #3c1642;
}

.mainInformationBox{
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.mainInformationBox h2{
font-size: 1.7rem;
}

.mainInformationBox p{
  
  font-size: 1.2rem;
  }

  #homeMain button{
	font-size: 1.2rem;

  }

   /* ----------------------------------------------- */
  /*---------Section One------------*/
/* ----------------------------------------------- */

.sectionOne{
  margin: 2.5em 0;
 
}
.sectionOne h2, .sectionTwo h2{
font-size: 1.7rem;
margin-bottom: 0.7rem;

}

.sectionOne p{
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}
 /* ----------------------------------------------- */
  /*---------Section Two------------*/
/* ----------------------------------------------- */
.sectionTwo .title{
  
  font-size: 1.7em;

 }
  
  .sectionTwo h2{
   margin-top: 0.4rem;
    font-size: 2.7rem;
    letter-spacing: 3px;
  }
  
  .sectionTwo{
    
    padding: 1rem;
  }
  
 
  
  .sectionTwo p {
    
    font-size: 1rem;
    padding-bottom: 0.5rem
  }

  .CountDownBox{
    margin: 1.2rem;
  }


  /* ----------------------------------------------- */
  /*---------Footer------------*/
/* ----------------------------------------------- */
.mainLogo{
  width: 20%;
  height: auto;
}
.mainLogoWrapper{
  text-align: center;
  padding: 0.7rem;
}

footer ul {
  font-size: 1.2rem;
  margin-bottom: 3.5rem;
}


}

@media only screen and (min-width: 1020px)  {

  header h1{
   
    font-size: 5.5rem;
   
  }
  
/* ----------------------------------------------- */
  /*---------Navigation Styles------------*/
/* ----------------------------------------------- */

.menuItemNav{
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
  margin-right: 1rem;
  font-family: "Spartan";
  line-height: 3.5rem;
  font-size: 1.25rem;
  
}

footer ul {
  font-size: 1.2rem;
  justify-content: center;
  margin-bottom: 3.5rem;
}


.menuItemFooter{
  margin: 1.5rem;
  text-decoration: none;
  color: #ffffff;
  font-family: "Spartan" ;
}

/* ----------------------------------------------- */
  /*---------Main Styles------------*/
/* ----------------------------------------------- */

.iconMain{
  font-size: 4.5rem;
  color: #3c1642;
}

.mainInformationBox{
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.mainInformationBox h2{
font-size: 2rem;
}

.mainInformationBox p{
  
  font-size: 1.4rem;
  }

  #homeMain button{
	font-size: 1.4rem;
	outline: none;
	cursor: pointer;
  }
/* ----------------------------------------------- */
  /*---------Section One Styles------------*/
/* ----------------------------------------------- */
  .sectionOne{
    margin: 4rem 0;
   
  }
  .sectionOne h2, .sectionTwo h2{
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
  
  }
  
  .sectionOne p{
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    padding: 0 4em ;
  }

   /* ----------------------------------------------- */
  /*---------Section Two------------*/
/* ----------------------------------------------- */
.sectionTwo .title{
  
  font-size: 2rem;

 }
  
  .sectionTwo h2{
   margin-top: 1rem;
    font-size: 3.5rem;
    letter-spacing: 3px;
  }
  
  .sectionTwo{
    
    padding: 1.2rem;
  }
  
  .sectionTwo p {
    
    font-size: 1rem;
    padding-bottom: 0.5rem
  }

  .CountDownBox{
    margin: 1.6rem;
  }
  
   /* ----------------------------------------------- */
  /*---------Footer------------*/
/* ----------------------------------------------- */
.mainLogo{
  width: 12%;
  height: auto;
}
.mainLogoWrapper{
  
  padding: 0.7rem;
}

footer ul {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

footer p{
  font-size: 1.3rem;
}

.icons{
  font-size: 1.8rem;
  padding: 0.5rem;
 
}


}

